<section id="first">
	<ul id="scene-nuage" data-invert-x = "true" data-invert-y = "true">
		<li class="layer nuage first" data-depth="0.40">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
		<li class="layer nuage second" data-depth="0.30">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
		<li class="layer nuage third" data-depth="0.20">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
		<li class="layer nuage fourth" data-depth="0.30">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
	</ul>
	<div class="phare">
		<%= image_tag("first/phare.png", alt: "Phare", class: "img-responsive") %>
	</div>
	<div id="vol-au-vent">
		<div class="vol-au-vent big">
			<%= image_tag("first/vol-au-vent.svg", alt: "Vol au vent", class: "img-responsive") %>
		</div>
		<div class="vol-au-vent small">
			<%= image_tag("first/vol-au-vent.svg", alt: "Vol au vent", class: "img-responsive") %>
		</div>
	</div>
</section>

<section id="second">
	<ul id="scene-wave" >
		<li class="layer first">
			<div  class="wave-slow">
				<%= image_tag("second/vague-2.png", alt: "Waves", class: "img-responsive") %>
			</div>
		</li>
		<li class="layer boat">
			<div class="wave-boat">
				<%= image_tag("second/paper-boat.png", alt: "Paper Boat", class: "img-responsive") %>
			</div>
		</li> 
		<li class="layer wave second">
			<div  class="wave-fast">
				<%= image_tag("second/vague-3.png", alt: "Waves", class: "img-responsive") %>
			</div>
		</li>
		<li class="layer wave third">
			<div  class="wave-slow">
				<%= image_tag("second/vague-4.png", alt: "Waves", class: "img-responsive") %>
			</div>
		</li>
	</ul>
</section>

<section id="third">
	<div id="bloc-crea">
		<div class="grid first">
			<ul>
				<li>
					<a href="http://drbl.in/fWMM" class="pull-left color-1"></a>
				</li>
				<li class="pull-left double">
					<a href="http://drbl.in/fWPV" class="color-2"></a>
					<a href="http://drbl.in/fWPV" class="color-3"></a>
				</li>
				<li>
					<a href="http://drbl.in/fWMT" class="pull-left color-4"></a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
		<div class="grid second">
			<ul>
				<li>
					<a href="http://drbl.in/fWMM" class="pull-left color-1"></a>
				</li>
				<li>
					<a href="http://drbl.in/fWMT" class="pull-left color-4"></a>
				</li>
				<li class="pull-left double">
					<a href="http://drbl.in/fWPV" class="color-2"></a>
					<a href="http://drbl.in/fWPV" class="color-3"></a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
		<div class="grid third">
			<ul>
				<li class="pull-left double">
					<a href="http://drbl.in/fWPV" class="color-2"></a>
					<a href="http://drbl.in/fWPV" class="color-3"></a>
				</li>
				<li>
					<a href="http://drbl.in/fWMM" class="pull-left color-1"></a>
				</li>
				<li>
					<a href="http://drbl.in/fWMT" class="pull-left color-4"></a>
				</li>
				<div class="clearfix"></div>
			</ul>
		</div>
		<a id="more" data-click="0">Voir plus</a>
	</div>

	<div id="submarine" class="submarine">
		<div class="circle-container">
        	<h3>Photoshop</h3>
        	<div class="circlestat" data-dimension="200" data-text="55%" data-width="30" data-fontsize="38" data-percent="55" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd"></div>
      </div>
		<%= image_tag("third/submarine.png", alt: "Submarine", class: "img-responsive") %>
	</div>
</section>

<section id="fourth">
	<form></form>
</section>