<section id="first">
	<ul id="scene-nuage" data-invert-x = "true" data-invert-y = "true">
		<li class="layer nuage first" data-depth="0.40">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
		<li class="layer nuage second" data-depth="0.30">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
		<li class="layer nuage third" data-depth="0.20">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
		<li class="layer nuage fourth" data-depth="0.30">
			<%= image_tag("first/nuage.svg", alt: "Nuage", class: "img-responsive") %>
		</li>
	</ul>
	<div class="phare">
		<%= image_tag("first/phare.png", alt: "Phare", class: "img-responsive") %>
	</div>
	<div class="vol-au-vent big">
		<%= image_tag("first/vol-au-vent.svg", alt: "Vol au vent", class: "img-responsive") %>
	</div>
	<div class="vol-au-vent small">
		<%= image_tag("first/vol-au-vent.svg", alt: "Vol au vent", class: "img-responsive") %>
	</div>
</section>

<section id="second">
	<ul id="scene-wave" >
		<li class="layer first">
			<div  class="wave-slow">
				<%= image_tag("second/vague-2.png", alt: "Waves", class: "img-responsive") %>
			</div>
		</li>
		<li class="layer boat">
			<div class="wave-boat">
				<%= image_tag("second/paper-boat.png", alt: "Paper Boat", class: "img-responsive") %>
			</div>
		</li> 
		<li class="layer wave second">
			<div  class="wave-fast">
				<%= image_tag("second/vague-3.png", alt: "Waves", class: "img-responsive") %>
			</div>
		</li>
		<li class="layer wave third">
			<div  class="wave-slow">
				<%= image_tag("second/vague-4.png", alt: "Waves", class: "img-responsive") %>
			</div>
		</li>
	</ul>
</section>

<section id="third">
	<div id="bloc-crea">
		<p>aipbvap</p>
	</div>
	<div id="submarine">
		<%= image_tag("third/submarine.png", alt: "Submarine", class: "img-responsive") %>
	</div>
</section>

<section id="fourth">
	<form></form>
</section>

